{% extends 'base.html.twig' %}

{% block title %}{{content.page|trans}}{% endblock %}
<meta name="description" content="Авиакомпания АГАТ занимается авиаперевозками пассажиров и грузов на территории Российской Федерации">

{%block body %}
    <div class="row mt-5">
        <div class="me-2 ms-2">{{ content.text|raw }}</div>
    </div>
{%endblock%}

