{% extends 'base_without_header.html.twig' %}

{% block title %}Редактирование страницы: {{ content.page|trans }} {% endblock %}

{% block body %}

    <div class="row">
        <button class="btn btn-secondary mb-2" id="back" onclick="window.location='/content'">Вернуться</button>
        <center>
            <h3>Редактирование страницы: {{ content.page|trans }}</h3>
        </center>
        {{ form(form) }}


    </div>
{% endblock %}

