{% extends 'base_employees.html.twig' %}

{% block title %}Страницы{% endblock %}

{% block body %}

    <div class="topnav overflow-x-scroll">
        <a class="" href="/employees">Домашняя страница</a>
        <a class="" href="/aircrafts">Список ВС</a>
        {% if role == 'admin' %}
            <a class="active" href="/content" >Страницы</a>
        {% endif %}
        <a class="float-end" href="/exit">Выйти</a>
    </div>
    <div class="container mt-5">
    <div class="row">
        <center><h3>Доступные для редактирования страницы</h3></center>
    <ul class="list-group pe-0">
        {% for c in content %}
        <li class="list-group-item list-group-item-action" onclick="window.location='content/edit/{{ c.page }}'">{{ c.page|trans }}</li>
        {% endfor %}
    </ul>


    </div>
    </div>
{% endblock %}

