{% extends 'base.html.twig' %}

{% block title %}Для сотрудика{% endblock %}

{%block body %}
<div class="row">
<h2 class="text-center">Авторизация успешна</h2> 
<center><a href="/aircrafts" class="btn btn-primary m-5">Список ВС</a></center>
<center><a href="/exit">Выйти</a></center>
</div>
{%endblock%}

