{% extends 'base_employees.html.twig' %}

{% block title %}Для сотрудика{% endblock %}

{% block body %}
    <div class="topnav">
        <a class="active" href="/employees">Домашняя страница</a>
        <a href="/aircrafts">Список ВС</a>
        {% if role == 'admin' %}
            <a href="/content" >Страницы</a>
        {% endif %}
        <a class="float-end" href="/exit">Выйти</a>
    </div>

    <div class="container mt-5">
        <h2 class="text-center">Авторизованы как {{ FIO }}</h2>
        <h5 class="text-center text-secondary">Ваша роль: {{ role|trans }}</h5>

    </div>
{% endblock %}

