{% extends 'base.html.twig' %}

{% block title %}Контакты{% endblock %}

{%block body %}
<div class="row">
<h2 class="text-center">Авторизация успешна</h2> 
<center><a href="/exit">Выйти</a></center>
</div>
{%endblock%}

