<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
        {% endblock %}
    <link rel="js" href="assets">
    <title>{%block title%}База{%endblock%}</title>
</head>

<body>
    <div class="container bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="row">
            
            
                <div class="col-md-3 col-sm-6 col-xs-7">
                    <a href="/" style="max-width:inherit" >
                        <img src="{{ asset('build/images/logo.jpg') }}" class="img-fluid" style="max-width:inherit" >
                    </a>
                </div>
             
             
             
                <div class="col-9"> 
                <div class="d-flex align-items-center justify-content-end" style="height:100%">
                    
                    <a href="/page/contacts" class="d-inline-flex p-2 text-decoration-none border-end border-primary">Контакты</a>
                    <a href="/employees" class="d-inline-flex p-2 text-decoration-none ">Для сотрудников</a>
                    
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container bg-light mt-3">
{% block body %}

{% endblock %}
</div>

    
</body>

</html>
