<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="js" href="assets">
    <title>{%block title%}{%endblock%}</title>
</head>

<body>
<style>
    /* Add a black background color to the top navigation */
    .airplane2{
        display: none;
    }
    .airplane:hover .airplane1 {
        display: none;
    }
    .airplane:hover .airplane2 {
        display: inline;
    }
    .content2{
        display: none;
    }
    .content:hover .content1 {
        display: none;
    }
    .content:hover .content2 {
        display: inline;
    }
    .home2{
        display: none;
    }
    .home:hover .home1 {
        display: none;
    }
    .home:hover .home2 {
        display: inline;
    }
    .users2{
        display: none;
    }
    .users:hover .users1 {
        display: none;
    }
    .users:hover .users2 {
        display: inline;
    }
    .exit {
        height: inherit;
    }
    .topnav {
        background-color: #0d6efd;
        overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f8f9fa;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #f8f9fa;
        color: black;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #f8f9fa;
        color: black;
    }
</style>
    {% block body %}
    {% endblock %}


</body>

</html>