<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
        {% endblock %}
    <link rel="js" href="assets">
    <title>{%block title%}База{%endblock%}</title>
</head>
<style>
    .link:hover {
        background-color: #f8f9fa;
        color: black;
    }
    .link1:hover {
        background-color: #f8f9fa;
        color: black;
    }
    .link {
        color: #f8f9fa;
        text-align: center;
        font-size: 17px;
        padding: 10px 10px;
        vertical-align: center;
    }
    .link1 {
        color: #f8f9fa;
        text-align: center;
        font-size: 17px;
        padding: 29.75px 29.75px;
        vertical-align: center;
    }
    .photo
    {
        filter: brightness(0) invert(1);
    }
    .photodiv:hover{
        background-color: #f8f9fa;
    }
    .photo:hover{
        background-color: #f8f9fa;
        filter: none;
    }
</style>
<body>
<div class="row w-100 m-0" style="">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary w-100 p-0" style="">

            <div class="col-12">
                <div class="photodiv d-flex
                 justify-content-center
                 d-lg-inline
                 justify-content-lg-start

                 ">
                    <a href="/">
                        <img height="85px" class="photo d-inline ps-4 pe-4" src="{{ asset('build/images/logo.png') }}" style=" " >
                    </a>
                </div>
                <div class="d-block d-lg-none float-none" style="">
                    <a class="link d-block float-lg-start text-decoration-none" id="contacts" href="/page/contacts">Контакты</a>
                    <a class="link d-block float-lg-start  text-decoration-none" id="employees" href="/employees">Для сотрудников</a>
                </div>
                <div class="float-lg-end float-none d-none d-lg-inline" style="">
                    <a class="link1 d-block float-lg-start text-decoration-none" id="contacts" href="/page/contacts">Контакты</a>
                    <a class="link1 d-block float-lg-start  text-decoration-none" id="employees" href="/employees">Для сотрудников</a>
                </div>

            </div>

    </nav>
</div>

<div class="container-lg">
{% block body %}

{% endblock %}
</div>

    
</body>

</html>
