{% extends 'base_without_header.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}
<body>
<div class="row justify-content-center">
    <center>
        <h4 class="mb-4">Руководство администратора</h4>
    </center>
    <p class="fs-5">Добро пожаловать в руководство администратора. Здесь вы можете ознакомиться в вашими возможностями в системе авиакомпании "Агат".</p>
    <p class="fs-5">В данный момент вам доступны такие функции как:</p>
    <ul class="list-group fs-5">
        <li class="list-group-item fs-5">
            Создание <a href="/aircrafts/create" class="link-primary text-decoration-none">воздушных судов</a> в
            <a href="/aircrafts" class="link-primary text-decoration-none">списке ВС</a><br><br>
            <img  class="col-12" src="https://i.ibb.co/grKRmbb/image.png">
            <img src="https://i.ibb.co/3MbfFLN/image.png" class="col-12">
        </li>
        <li class="list-group-item fs-5">
            Удаление воздушного судна на странице этого судна
            <img src="https://i.ibb.co/WFFtkm0/image.png" class="col-12">
        </li>
        <li class="list-group-item fs-5">
            Создание двигателей/комплетующих на странице судна
            <center><img src="https://i.ibb.co/3yfjZJb/image.png"></center>
            <center><img src="https://i.ibb.co/DGzHqFs/image.png"></center>
            <img src="https://i.ibb.co/x2V0z8Y/image.png" class="col-12">
        </li>
        <li class="list-group-item fs-5">
            Удаление двигателя/комплектующего на его сранице
            <img src="https://i.ibb.co/WFFtkm0/image.png" class="col-12">
        </li>
        <li class="list-group-item fs-5">
            Просмотр всех <a href="/users" class="link-primary text-decoration-none">пользователей</a><br><br>
            <img src="https://i.ibb.co/VV6K7H0/image.png" class="col-12">
        </li>
        <li class="list-group-item fs-5">
            Поиск пользователей
            <img src="https://i.ibb.co/StpMfNG/image.png" class="col-12">
        </li>
        <li class="list-group-item fs-5">
            Просмотр профиля пользователя
            <img src="https://i.ibb.co/VLTPpd8/image.png" class="col-12">
        </li>
        <li class="list-group-item fs-5">
            Просмотр действий пользователя
            <img src="https://i.ibb.co/0sQdsxL/image.png" class="col-12">
            <img src="https://i.ibb.co/5TNSTqX/image.png" class="col-12">
        </li>
        <li class="list-group-item fs-5">
            Удаление действий пользователя
            <center><img src="https://i.ibb.co/SVwqFZS/image.png" class="img-fluid"></center>
        </li>
    </ul>
</div>
{% endblock %}

