{% extends 'base_without_header.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}
<body>
<div class="row justify-content-center">
    <center>
        <h4 class="mb-4">Руководство пользователя</h4>
    </center>
    <p class="fs-5">Добро пожаловать в руководство пользователя. Здесь вы можете ознакомиться в вашими возможностями в системе авиакомпании "Агат".</p>
    <p class="fs-5">В данный момент вам доступны такие функции как:</p>
    <ul class="list-group fs-5">
        <li class="list-group-item fs-5">
            Просмотр всех <a href="/aircrafts" class="link-primary text-decoration-none">воздушных судов</a><br><br>
            <img  class="col-12" src="https://i.ibb.co/5rM2DTB/image.png">
        </li>
        <li class="list-group-item fs-5">
            Поиск воздушного судна
            <img src="https://i.ibb.co/LSpc00q/image.png" class="col-12">
        </li>
        <li class="list-group-item fs-5">
            Фильтрация воздушных судов по их состоянию
            <center><img src="https://i.ibb.co/VgRhHmn/2022-04-11-21-35-51.png"></center>
        </li>
        <li class="list-group-item fs-5">
            Настройка вывода информации в таблице
            <img src="https://i.ibb.co/HhTTJrF/image.png" class="col-12">
            <img src="https://i.ibb.co/V9CY8fq/image.png" class="col-12">
        </li>
        <li class="list-group-item fs-5">
            <b>Просмотр информации о воздушном судне</b><br><br>
            <img src="https://i.ibb.co/thrZs9q/image.png" class="col-12">
        </li>
        <li class="list-group-item fs-5">
            Добавление наработки
            <img src="https://i.ibb.co/s6L6VWk/image.png" class="col-12">
            <img src="https://i.ibb.co/Z146YxS/image.png" class="col-12">
        </li>
        <li class="list-group-item fs-5">
            Добавление ремонта
            <img src="https://i.ibb.co/b6YzQrM/image.png" class="col-12">
            <img src="https://i.ibb.co/V2LSS74/image.png" class="col-12">
        </li>
        <li class="list-group-item fs-5">
             Скачивание отчета
            <img src="https://i.ibb.co/pwQcs9n/image.png" class="col-12">
        </li>
        <li class="list-group-item fs-5">
            Просмотр истории добавления наработки
            <img src="https://i.ibb.co/hFVGTbD/image.png" class="col-12">
            <img src="https://i.ibb.co/MZ4dg8f/image.png" class="col-12">
        </li>
        <li class="list-group-item fs-5">
            Просмотр двигателей
            <center><img src="https://i.ibb.co/8g41PBf/image.png"></center>
            <center><img src="https://i.ibb.co/t2pJGn4/image.png"></center>
        </li>
        <li class="list-group-item fs-5">
            Просмотр комплектующих
            <center><img src="https://i.ibb.co/ysnbcLr/image.png"></center>
            <center><img src="https://i.ibb.co/vDvTjtL/image.png"></center>
        </li>
        <li class="list-group-item fs-5">
            <b>Просмотр информации о двигателе/комплектующем</b><br><br>
            <img src="https://i.ibb.co/s9g39bM/image.png" class="col-12">
        </li>
        <li class="list-group-item fs-5">
            Добавление наработки
            <img src="https://i.ibb.co/s6L6VWk/image.png" class="col-12">
            <img src="https://i.ibb.co/Z146YxS/image.png" class="col-12">
        </li>
        <li class="list-group-item fs-5">
            Добавление ремонта
            <img src="https://i.ibb.co/b6YzQrM/image.png" class="col-12">
            <img src="https://i.ibb.co/JBh7ssN/image.png" class="col-12">
        </li>
        <li class="list-group-item fs-5">
            Просмотр истории добавления наработки
            <img src="https://i.ibb.co/hFVGTbD/image.png" class="col-12">
            <img src="https://i.ibb.co/QMmMW5R/image.png" class="col-12">
        </li>




    </ul>
</div>
{% endblock %}

